

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    font-family: 'Poppins', sans-serif;




}


header
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
font-weight: bolder;
color: white;
position: fixed;
width: 100%;
background-color: black;
}





nav ul
{
list-style: none;
display: flex;

}



nav ul a
{
text-decoration: none;
padding-right: 20px;
color: white;
}

nav ul a:hover
{
text-decoration: underline;
color: gold;
cursor: pointer;
}




nav ul .reservation
{
display: inline-block;
width: 120px;
height: 30px;
background-color: gold;
padding-left: 14px;
padding-top: 6px;
margin-top: -5px;
}


nav ul .reservation a:hover
{
color: black;
}





.sect1 
{
background-image: url('photo1.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 700px;

}

.sect1 .contenu-sect1 
{
color: black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}


.sect1 .contenu-sect1 .bouton
{
transition: 1s;
}

.sect1 .contenu-sect1 .bouton:hover 
{

transform: scale(1.1);

}



.sect1 .contenu-sect1 .btn1 
{
color: white;
font-size: 17px;
padding: 7px 15px;
margin-right: 10px;
background-color: gold;
cursor: pointer;
border: none;
}


.sect1 .contenu-sect1 .btn2 
{
color: white;
font-size: 17px;
padding: 7px 10px;
background-color: darkblue;
cursor: pointer;
border: none;
}



.sect1 .contenu-sect1 h1 
{
font-size: 40px;
font-weight: bolder;
margin-bottom: -10px;
}


.sect1 .contenu-sect1 p
{
line-height: 10px;

}



.sect2
{
display: flex;
flex-wrap: wrap;
height: 360px;
margin-top: 100px;
margin-left: 100px;

}



.sect2 .photosect2
{
margin-left: 60px;
}


.sect2 span
{
font-size: 60px;
font-weight: bolder;

}


.sect2 h1
{
font-size: 40px;
font-weight: bolder;
margin-bottom: -20px;
}


.sect2 .sect2contenu
{
margin-top: -30px;
}


.sect3
{
text-align: center;
}

.sect3 h1 span
{
font-size: 60px;
}

.sect3 h1 
{
font-size: 40px;
margin-bottom: -20px;
}


.sect3 img
{
width: 200px;
height: 200px;
margin-left: 10px;
margin-top: 10px;
}


.sect3 .plat ul
{
list-style: none;
display: flex;
flex-wrap: wrap;
margin-left: 100px;
}

.sect3 .plat ul li
{
display: flex;
flex-direction: column;
margin-right: 20px;
width: 220px;
height: 230px;
background-color: white;
box-shadow: 5px 5px 15px dimgrey;

}


.sect3 .plat ul li p
{
margin-left: 20px;
margin-top: -5px;

}


.sect3 button
{
padding: 8px 20px;
background-color: gold;
color: white;
border: none;
}

.sect3 button:hover
{
cursor: pointer;
transform: scale(1.2);
transition: 0.7s;
}




.sect4
{
text-align: center;
}

.sect4 h1 strong
{
font-size: 60px;
}

.sect4 h1 
{
font-size: 40px;
margin-bottom: -20px;
}


.sect4 img
{
width: 150px;
height: 200px;
margin-left: 10px;
margin-top: 10px;
}


.sect4 .plat ul
{
list-style: none;
display: flex;
flex-wrap: wrap;
margin-left: 200px;
}

.sect4 .plat ul li
{
display: flex;
flex-direction: column;
margin-right: 20px;

}


.sect4 .plat ul li p
{
margin-left: 20px;
margin-top: -5px;

}


.sect5 
{
background-image: url('imagesite1/bg2.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 700px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.sect5 h1
{
font-size: 40px;
margin-bottom: -25px;


}


.placsection5
{
display: flex;
flex-wrap: wrap;
margin-top: 30px;
}


.sect5 .placsect5
{
width: 220px;
height: 350px;
padding: 20px 30px 0px 30px;
background-color: white;
text-align: center;
border-radius: 10px;
margin-right: 20px;
}

.sect5 .placsect5 img
{
width: 50px;
height: 50px;
border-radius: 50%;

}





.sect5 .placsect5 img
{
width: 50px;
height: 50px;
border-radius: 50%;

}



.sect5 h1 ; p
{
color: white;

}





























































